.inner-container{
  background-color: white;
  padding: 30px !important;

}




.formdiv {
  padding: 5px;
  background-color: #F2F2F2;
  padding: 20px;
  margin-top: 20px;
  text-align: left;
}


.formdivlog {
  padding: 5px;
  background-color: #F2F2F2;
  padding: 20px;
  margin-top: 20px;
  text-align: left;
  overflow-y: scroll;
  height: 158px;
}

span{
  margin-right: 10px;
}
.msg {
  color: green;
}

.list-group-item{
  font-size: 0.8em;
  height: 40px !important;
  padding: 8px;
}

.no {
  margin-left: 30px;
}


.formbtn{
  display: inline-block;
}
.btn-sm {
  font-size: 0.6em;
  margin-left: 5px;
}

.adiv{
  display: inline-block;
  float: right
}

.logp{
  display: inline-block;
}

.books-container{
  margin-top: 40px;
  padding: 0px;
}

.book-container{
  display: inline-block;
  background-color: #F2F2F2;
  padding: 30px 0px;
  margin: 10px;
  min-width: 200px;
  min-height: 200px;
  text-align: center;
}
.cover {
  max-width: 160px;
  max-height: 160px;
  display: block;
  margin: 0 auto;
}

.btext{
  margin: 0px;
}

.toptext{
  margin-top: 10px;
}

.inner-container{
  background-color: white;
  padding: 40px!important;
  text-align: center;
}

h4, h6 {
  font-family: 'Montserrat', sans-serif;
}