.inner-container{
  background-color: white;
  padding: 60px !important;
  min-height: 83%;

}

img {
  max-width: 80%;
  margin: 40px 0px;
}

.tradeBook{
  text-align: center;
  background-color: #F2F2F2;
  max-width: 25%;
}

.form-div{
  width: 80%;
  float: right;

  margin: 0 auto;
}

.list-group-item-warning{
  text-align: center;
  font-weight: bold;
}

button{
  margin-top: 20px;
}