.usernav {
  margin: 0px !important;
}

body {
        background: url("/images/bg.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}


.errdivlog {
  color: red;
  margin-top: 10px;
  position: relative;
  left: 8%;
}

.errdivreg {
  color: red;
  margin-top: 10px;
}

.err{
  color: red;

}

.container {
  padding: 0px !important;
}

#loginCheck{
  position: relative;
  top: 3px;
  margin-right: 5px;

}